---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/ui/navbar.astro";
import { IconCoinFilled } from "@tabler/icons-react";
import Analytics from "../components/home/analytics.tsx";
import Actions from "../components/home/actions.tsx";
import Content from "../components/home/content.tsx";
---

<Layout title="EcoKash">
	<main class="">
		<Navbar />

		<div
			class="px-5 py-5 flex flex-col gap-5 pb-28 mx-auto max-w-[60rem] md:pb-5"
		>
			<div class="flex items-center gap-2 md:hidden">
				<IconCoinFilled />
				<h1 class="font-bold text-2xl">EcoKash</h1>
			</div>

			<Analytics client:load />
			<Actions client:load />
			<Content client:visible />
		</div>
	</main>
</Layout>
